.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
  }
  
  .image{
    object-fit: cover;
  }
  
  .content {
  }
  
  .title{
    margin-bottom: 10px;
  }
  
  .desc{
    font-size: 18px;
    color: #999;
  }

  .badge {
    color: white;
    background-color: palevioletred;
    border-radius: 35px;
    padding: 5px;
    text-align: center;
    width: 120px;
    font-size: 12px;
    margin-top: 20px;

  }